body{

background-color: black;

}

.post{


 margin-left: auto;
margin-right: auto;
width: 400px;
height: 700px;
background-color: rgb(255, 255, 255);

}

.arriba{
display: flex;
justify-content: space-between;
height: 5%;

}

.arriba-izquierda {

display: flex;

}

.arriba-derecha{

    display: flex;
    align-items: center;
}

.letras p{

    margin: auto;
    padding-left: 10px;

}



.arriba img{

width: 40px;
margin-left: 0%;
}



.imagen img{

width: 400px;

}

.abajo{
    display: flex;
}

.abajo-derecha{

    display: flex;
    margin-left: 310px;

}

.usuario{

margin-top: 15px;

}